@model IEnumerable<HotelsSystem.Web.ViewModels.Home.IndexHotelViewModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <h1>Всички хотели в България</h1>
    @foreach (var hotel in Model)
    {
        Html.RenderPartial("_IndexHotelPartial", hotel);
    }
</div>