@using PagedList.Mvc;
@using PagedList;
@model PagedList<HotelsSystem.Web.ViewModels.Home.IndexHotelViewModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <h1>Всички хотели в България</h1>
    @foreach (var hotel in Model)
    {
        Html.RenderPartial("_IndexHotelPartial", hotel);
    }
    <div class="row text-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
        Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Hotels
    </div>
</div>